{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logout Confirmation - LabangOnline</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  </head>
  <body>
    <div class="logout-wrapper">
      <div class="logout-box">
        {% if messages %}
          <div class="messages">
          {% for message in messages %}
          {% if message.tags != 'success' %}
          <div class="msg {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endif %}
          {% endfor %}
        </div>
            {% endif %}
        <h2>Are you sure you want to log out?</h2>
        <p>
          Please confirm that you want to log out.<br />
          You will need to sign-in again to access your dashboard.
        </p>

        <div class="logout-actions">
          <form method="post" action="{% url 'accounts:logout_confirm' %}">
            {% csrf_token %}
            <button type="submit" class="btn-action btn-logout">Yes</button>
          </form>
          <a
            href="{% url 'accounts:personal_info' %}"
            class="btn-action btn-cancel"
            >Cancel</a
          >
        </div>
      </div>
    </div>

    <script src="{% static 'js/theme.js' %}"></script>
  </body>
</html>
